<!DOCTYPE html>
<html>

<head>

    <title>Biochem Mystery</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-card">

    <h1>Biochem Mystery</h1>

    <p>MBBS Biochemistry Quiz Platform</p>

    <button onclick="window.location.href='/host'">
        Create Lobby
    </button>

    <button onclick="window.location.href='/join'">
        Join Lobby
    </button>

    <button onclick="window.location.href='/add_questions'">
        Add Questions
    </button>

</div>

</body>

</html>